<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Yolo!</title>

    <meta name="description" content="What The Heck Is Responsive Web Design? - an impress.js presentation">
    <meta name="author" content="John Polacek" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,300,400,800' rel='stylesheet' type='text/css'>
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>

    <div class="background"></div>

    <!-- <div id="hint">an <a href="http://bartaz.github.com/impress.js/">impress.js</a> presentation by <a href="http://twitter.com/johnpolacek">John Polacek</a>
		- use the spacebar or arrow keys to navigate</div> -->

    <div id="impress" class="impress-not-supported">

        <div id="title" class="step" data-x="540" data-y="600" data-scale="0.5">
            <div style="font-weight: 800; text-align:center; font-family: YKbold; font-size: 10em; color: #e74c3c;">YOLO</div><br><br>
            <!-- <div style="margin-right: 10px; text-align:right; font-family: YKthin; font-size: 1em; color: #7f8c8d;">- everyone</div> -->
        </div>

        <div id="respond" class="step" data-x="540" data-y="100" data-scale="1">

            <div style="text-align:left; font-family: YKthin; font-size: 2em; color: #7f8c8d;">but your,</div>
            <div style="text-align:left; font-family: YKbold; font-size: 6em; color: #e74c3c;">Data-analytics</div>
            <div style="text-align:right;font-family: YKregular; font-size: 3em; color: #2980b9;">lives forever..</div>
        </div>

        <div id="what" class="step" data-x="2650" data-y="-1990" data-scale="1">
                <div style="text-align:left; font-family: YKbold; font-size: 4em; color: #e74c3c;">What did we work on?</div>
        </div>

        <div id="what-taxi" class="step" data-x="2650" data-y="-1990" data-scale="1">
               <div style=" margin-top: 300px; margin-left:500px; text-align:left; font-family: YKbold; font-size: 4em; color: #f1c40f;">NYC taxis</div>

        </div>

        <div id="datasets" class="step" data-x="2650" data-y="-1290" data-scale="1">
            <div style="text-align:left; font-family: YKregular; font-size: 3em; color: #7f8c8d;">Datasets:</div><br>
            <div style="text-align:left;font-family: YKthin; font-size: 2em; color: #27ae60;"> - Trip DataSet</div><br>
            <div style="text-align:left;font-family: YKthin; font-size: 2em; color: #27ae60;"> - Fare DataSet</div><br>
            <div style="text-align:left;font-family: YKthin; font-size: 2em; color: #27ae60;"> - NYC OpenData</div>
        </div>

        <div id="datasets-opendata" class="step" data-x="2650" data-y="-1090" data-scale="0.2">
            <div style="margin-left:400px;">
            	<div style="text-align:left; font-family: YKbold; font-size: 3em; color: #e74c3c;">Attributes:</div>
            	<div style="text-align:left; font-family: YKregular; font-size: 2em; color: #7f8c8d;">License number, license name, VIN, model, agent information, etc.</div>
            </div>
        </div>

        
        <div id="find" class="step" data-x="-3700" data-y="900" data-scale="1">
            <div style="text-align:left; font-family: YKregular; font-size: 3em; color: #7f8c8d;">So, what did we find?</div><br>
        </div>

        <!-- <div id="how-quote" class="step" data-x="-1700" data-y="100" data-scale="1">
            <div class="img-wrap img-inline">
                   <img src="img/godzilla.jpg" class="img-border" />
            </div>
        </div> -->

        <div id="why" class="step" data-x="-1700" data-y="900" data-scale="1">
            <div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #7f8c8d;">JFK Pickups</div><br>
            <div class="img-wrap img-inline">
                    <img src="img/jfk_pickup.png" class="img-border" />
                </div>
        </div>

        <div id="screens" class="step" data-x="-1700" data-y="1650" data-scale="1">
            <div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #7f8c8d;">JFK Dropoffs</div><br>
            <div class="img-wrap img-inline">
                    <img src="img/jfk_dropoff.png" class="img-border" />
                </div>
        </div>

        <div id="who" class="step" data-x="-700" data-y="900" data-scale="1">
            <div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #7f8c8d;">LG Pickups</div><br>
            <div class="img-wrap img-inline">
                    <img src="img/lg_dropoff.png" class="img-border" />
                </div>
        </div>

        <div id="who-real" class="step" data-x="-700" data-y="1650" data-scale="1">
           <div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #7f8c8d;">LG Dropoffs</div><br>
           <div class="img-wrap img-inline">
                   <img src="img/lg_dropoff.png" class="img-border" />
               </div>
        </div>

        <div id="how-quote" class="step" data-x="1520" data-y="1165" data-scale="1">
            <div class="img-wrap img-inline">
                   <img src="img/feb89.png" class="img-border" />
            </div>
        </div>

        <div id="how-frameworks" class="step" data-x="1520" data-y="1780" data-scale="1">
            <div class="img-wrap img-inline">
                   <img src="img/feb892.png" class="img-border" />
            </div>
        </div>        

        <div class="step where-step" data-x="2580" data-y="1350" data-scale="1">
            <div style="text-align:left; font-family: YKbold; font-size: 3em; color: #e74c3c;">#1</div>
            	<div style="text-align:left; font-family: YKregular; font-size: 2em; color: #7f8c8d;">Averagely new yorkers tip more during the holiday season. Approx 18% rise in tips.</div>
        </div>

        <div class="step where-step" data-x="2580" data-y="1980" data-scale="1">
            <div style="text-align:left; font-family: YKbold; font-size: 3em; color: #e74c3c;">#2</div>
            	<div style="text-align:left; font-family: YKregular; font-size: 2em; color: #7f8c8d;">New Yorkers travel on airlines a lot Wednesday and Saturday</div>
        </div>

        <div class="step where-step" id="where-cool" data-x="2580" data-y="2610" data-scale="1">
            <div style="text-align:left; font-family: YKbold; font-size: 3em; color: #e74c3c;">#3</div>
                        	<div style="text-align:left; font-family: YKregular; font-size: 2em; color: #7f8c8d;">New Yorkers rarely travel on Fridays and Sundays</div>
        </div>

        <div class="step where-step" id="where-cool2" data-x="2580" data-y="3190" data-scale="1">
            <div class="img-wrap img-inline">
                   <img src="img/chepflights.png" class="img-border" />
            </div>
        </div>

        <div class="step where-step"  data-x="2580" data-y="4110" data-scale="1">
            <div style="text-align:left; font-family: YKbold; font-size: 3em; color: #e74c3c;"></div>
                        	<div style="text-align:left; font-family: YKregular; font-size: 2em; color: #7f8c8d;">Most New Yorkers are smart!</div>
        </div>

        <div id="countrychart" class="step" data-x="2650" data-y="-590" data-scale="1">
        	<div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #2980b9;">Where do all these taxis come from?</div><br>
            <canvas id="countries" width="600" height="400"></canvas>
        </div>
        

        <div id="modelchart" class="step" data-x="2650" data-y="20" data-scale="1">
        	<div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #2980b9;">Yo! What are we travelling in?</div><br>
             <canvas id="models" width="600" height="400"></canvas>
        </div>


        <div id="yearchart" class="step" data-x="2650" data-y="520" data-scale="1">
        	<div style="text-align:left; font-family: YKregular; font-size: 0.8em; color: #2980b9;">How old are these taxis?</div><br>
             <canvas id="year" width="600" height="400"></canvas>
        </div>


        <div class="step" id="credits" data-x="4000" data-y="0" data-rotate="-90" data-rotate-y="90" data-scale=".1">

        	<div style="text-align:left; font-family: YKregular; font-size: 2em; color: #7f8c8d;">GH : github/crc442/massive-data-buzz</div>
        
        </div>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/impress.js"></script>
    <script src="js/chart.min.js"></script>
    <script>
    var pieData = [{
        value: 9294,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "USA:68%"
    },
    {
        value: 1872,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Canada:13.69%"
    },
    {
        value: 556,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Mexico:4%"
    },

    {
        value: 1455,
        color: "#0066FF",
        highlight: "#00CCFF",
        label: "Japan:10.64%"
    },


    {
        value: 489,
        color: "#CCCC66",
        highlight: "#CCFF66",
        label: "Not-assigned/Iran/Turkey/Pakistan:3.5%"
    }];

    var pieOptions = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,

        //String - The colour of each segment stroke
        segmentStrokeColor: "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth: 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 20, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps: 100,

        //String - Animation easing effect
        animationEasing: "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,

        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

    }
    var countries = document.getElementById("countries").getContext("2d");
    new Chart(countries).Pie(pieData, pieOptions);





    var mData = [{
        value: 10,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "CHEVROLET:0.07%"
    },
    {
        value: 2,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "DODGE:0.014%"
    },
    {
        value: 5685,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "FORD:41.59%"
    },

    {
        value: 1,
        color: "#0066FF",
        highlight: "#00CCFF",
        label: "HYUNDAI:0.007%"
    },


    {
        value: 6,
        color: "#CCCC66",
        highlight: "#CCFF66",
        label: "LEXUS:0.04%"
    },


{
        value: 1,
        color:"#FF66CC",
        highlight: "#FF00CC",
        label: "LINCOLN:0.007%"
    },
    {
        value: 1,
        color: "#003366",
        highlight: "#000066",
        label: "MERCEDES:0.007%"
    },
    {
        value: 730,
        color: "#009900",
        highlight: "#00CC00",
        label: "NISSAN:5.34%"
    },

    {
        value: 7226,
        color: "#990066",
        highlight: "#993366",
        label: "TOYOTA:52.87"
    },


    {
        value: 4,
        color: "#990000",
        highlight: "#993300",
        label: "VOLKSWAGON:0.03%"
    }];

    var mOptions = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,

        //String - The colour of each segment stroke
        segmentStrokeColor: "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth: 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 20, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps: 100,

        //String - Animation easing effect
        animationEasing: "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,

        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

    }

    var yOptions = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,

        //String - The colour of each segment stroke
        segmentStrokeColor: "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth: 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 20, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps: 100,

        //String - Animation easing effect
        animationEasing: "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,

        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

    }

    var ydata= [{
        value: 1,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "2001:0.0007%"
    },
    {
        value: 1,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "2002:0.0007%"
    },
    {
        value: 1,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "2003:0.0007%"
    },

    {
        value: 1,
        color: "#0066FF",
        highlight: "#00CCFF",
        label: "2004:0.0007%"
    },


    {
        value: 1,
        color: "#CCCC66",
        highlight: "#CCFF66",
        label: "2006:0.0007%"
    },


{
        value: 5,
        color:"#FF66CC",
        highlight: "#FF00CC",
        label: "2007:0.036%"
    },
    {
        value: 236,
        color: "#003366",
        highlight: "#000066",
        label: "2008:1.72%"
    },
    {
        value: 618,
        color: "#009900",
        highlight: "#00CC00",
        label: "2009:4.5%"
    },

    {
        value: 776,
        color: "#990066",
        highlight: "#993366",
        label: "2010:5.67%"
    },


    {
        value: 2929,
        color: "#990000",
        highlight: "#993300",
        label: "2011:21.43%"
    },

  {
        value: 3071,
        color: "#003333",
        highlight: "#006633",
        label: "2012:22.47%"
    },
    {
        value: 1914,
        color: "#993300",
        highlight: "#990000",
        label: "2013:14%"
    },

    {
        value: 3897,
        color: "#FF0066",
        highlight: "#FF6666",
        label: "2014:28.5%"
    },


    {
        value: 214,
        color: "#990099",
        highlight: "#993399",
        label: "1995:1.5%"
    }];
    var models = document.getElementById("models").getContext("2d");
    new Chart(models).Pie(mData, mOptions);

    var year = document.getElementById("year").getContext("2d");
    new Chart(year).Pie(ydata, yOptions);
    </script>

</body>

</html>